@charset "UTF-8";

@media screen and (min-width: 768px) {

    main{
      min-width: 90vw;
     height: 37vh; 
    }

form{
    text-align: right;
    display: block;
    
}
input.botão{
    width: 500px;
}

main > div#section{
     width: 70%;
    float: right;
    
   
}
main > div#imagem{
    border-radius: 20px 0px 0px 20px;
   height: 100%;
    width: 30%;
    float: left;
}

p{
    margin-left: 10px;
}
body{
    background-image: linear-gradient( rgba(108, 8, 148, 0.952), turquoise
    );
   height: 100vh;
}
}








@media screen and (min-width: 992px) {
    main > div#imagem
    {
float: right;
height: 100%;
width: 50%;
border-radius: 0px 20px 20px 0px;

    }
    main > div#section {
        float: left;
        width: 50%;
      
    }
   main {
        
        
       
     min-width: 80vw;
    }

    form{
        display: block;
    }

    
}
